* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
}

.btn {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 21px;
  padding-right: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 9px;
  cursor: pointer;
}

.btn__coral {
  border-radius: 5px;
  background: rgba(255, 73, 73, 1);
  border: none;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

.header {
  margin-top: 34px;
  margin-bottom: 12px;
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__actions_mobile {
  display: none;
  background-color: transparent;
  border: none;
}

.header__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

.search {
  margin-bottom: 39px;
}

.search__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  border-radius: 5px;
  background: rgba(255, 73, 73, 1);
  padding: 0px 3px;
  height: 50px;
}

.search__input {
  flex-grow: 1;
  padding: 14px 31px;
  border: none;
}

.seatch__input:focus {
  outline: 2px solid lightblue;
}

.content {
  margin-bottom: 94px;
}

.content__box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.content__main {
  flex-grow: 1;
}

.content__main-title {
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.content__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.content__cards-item {
  flex-basis: calc((100% - 60px) / 3);
}

.content__cards-item img {
  border-radius: 10px;
  margin-bottom: 12px;
}

.content__cards-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  margin-bottom: 5px;
}

.content__cards-title h5 {
  font-weight: 700;
  font-size: 16px;
}

.content__cards-title span {
  font-weight: 400;
  font: 16px;
  margin-left: 5px;
}

.content__cards-description {
  color: rgba(134, 134, 134, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}

.content__cards-rating {
  color: rgba(4, 163, 30, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
}

.content__sidebar {
  width: 262px;
  min-width: 262px;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__sidebar-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 23px;
}

.content__sidebar-item {
  margin-bottom: 20px;
}

.content__cards-link {
  text-decoration: none;
}

.sidebar-item__title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

.sidebar-item__info {
  font-size: 14px;
  font-weight: 400;
}

.content-product {
  display: flex;
  gap: 28px;
}

.content-product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-product__info-box {
  display: flex;
  flex-direction: column;
}

.content-product__title {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
}

.content-product__title h2 {
  font-weight: 700;
  font-size: 24px;
}

.content-product__title span {
  font-weight: 400;
  font-size: 24px;
}

.content-product__genre {
  color: rgba(134, 134, 134, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 2px;
}

.content-product__rating {
  color: rgba(4, 163, 30, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 29px;
}

.content-product__description {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.footer p {
  color: rgba(170, 170, 170, 1);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

.footer a {
  color: rgba(170, 170, 170, 1);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 1146px) {
  .container {
    padding: 0px 20px;
  }

  .content-product__title {
    flex-direction: column;
    align-items: flex-start;
  }

  .content-product__image {
    width: 350px;
  }
}

@media (max-width: 991px) {
  .content__cards-item {
    flex-basis: calc((100% - 30px) / 2);
  }

  .content-product {
    flex-direction: column;
  }

  .content-product__image {
    width: 460px;
  }

  .content-product__title {
    flex-direction: row;
  }

  .content-product__description {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .header__actions {
    display: none;
  }

  .header__actions_mobile {
    display: block;
  }

  .search__btn-text {
    display: none;
  }

  .content__box {
    flex-direction: column;
  }

  .content__sidebar {
    width: 100%;
    min-width: 100%;
  }

  .content-product__image {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .content__cards-item {
    flex-basis: 100%;
  }

  .content-product__title h2 {
    font-size: 16px;
  }

  .content-product__title span {
    font-size: 16px;
  }
}
